


/*
Attributions:
Photo by <a href="https://unsplash.com/@heftiba?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Toa Heftiba</a> on <a href="https://unsplash.com/photos/bonfire-DUXACn8tgp4?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
*/


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    scrollbar-color: black lightslategrey;
    scroll-behavior: smooth !important;
}
html {
    scroll-behavior: smooth;
    transition: scroll-behavior linear 0.2s;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background: rgb(255, 255, 255);

    /**** **** ***** **** ***** **** ***** *****/
    will-change: scroll-position;
    /**** **** ***** **** ***** **** ***** *****/

}


header {
    top: 0;
    rotate: 180deg;
}
footer {
    bottom: 0;
}
header, footer {
    position: fixed;
    height: 20vh;
    width: 100vw;
    .static-img-container {
        position: relative;
        width: 100%;
        height: 100%;
        background-image: url("pics/fade_out.png");
    }
}
.edge-blur-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
}

#primary-parallax-bg-image, #secondary-parallax-bg-image, #tertiary-parallax-bg-image, #bottom-parallax-bg-image {
    /* transition: background-position 200ms cubic-bezier(0.235, 0.615, 0.185, 0.995); */
    transform: translateZ(0) translateY(-800px);

    opacity: 0.25;

    /**** **** ***** **** ***** **** ***** *****/
    will-change: transformY;
    /**** **** ***** **** ***** **** ***** *****/

    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 400vh;
    background: url("pics/sparks_bg.png") no-repeat center center;
    background-size: cover;
}
#secondary-parallax-bg-image {
    opacity: 0.25;
    z-index: -2;
    transform: translateY(-400px);
}
#tertiary-parallax-bg-image {
    opacity: 0.25;
    z-index: -3;
    transform: translateY(0);
}
#bottom-parallax-bg-image {
    height: 108vh;
    top: -8vh;
    opacity: 1;
    z-index: -4;
    transform: translateY(0);
    background: url("pics/bow_bridge_pic1.png") no-repeat center center;
    background-size: cover;
}
#parallax-filter {
    position: fixed;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
}
#bg-wrapper {
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    scrollbar-width: none;
}


text {
    font-family: sans-serif;
}
main {
    display: flex;
    flex-direction: column;
    height: 480vh;
    justify-content: space-evenly;
    align-items: stretch;
    h1 {
        font-size: 6vmax;
    }
    h2 {
        font-size: 3.5vmax;
    }
    h3 {
        font-size: 2vmax;
    }
    h4 {
        font-size: 1.5vmax;
    }
}

.container {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

#upper-wrapper {
    width: 100vw;
    height: 100vh;
    /* background: url("pics/smoke_cloud.png");
    background-size: cover; */
    color: white;

    .opening-message{
        height: 30vh;
    }
    .user-warning{
        height: 10vh;
        margin-top: auto; /* margin-top: auto sits this item at the very bottom of the flexbox container */
    }

}


/********* IMAGE SECTION *********/
#middle-wrapper {
    width: 100vw;
    height: 300vh;

    .image-container {
        width: 100vw;
        height: 100vh;
    }

    > :first-of-type {
        background: url("pics/firefront_approaches_firefighters.png");
        background-size: cover;
    }

    > :nth-of-type(2) {
        background: lightgray;
    }

    > :nth-of-type(3) {
        background: darkgray;
    }
}
.fade {
    transition: opacity 0.1s;

}













